<div>
  <h1>
    {{title}}!
  </h1>
  <form (submit)="onSubmit()">
    Github Username:<input type="text" name="name" [(ngModel)]="name">
    <input type="submit" value="Calculate my GitHub Score">
  </form>
</div>
<div>
  <h1>Your Score: {{score}}</h1>
  <p *ngIf="score<=20" style="color:red">Needs Work!</p>
  <p *ngIf="score<=50 && score>20" style="color:orange">A decent start!</p>
  <p *ngIf="score<=100 && score>50" style="color:black">Doing Good!</p>
  <p *ngIf="score<=200 && score>100" style="color:green">Great Job!</p>
  <p *ngIf="score>=200" style="color:blue">Github Elite!!</p>
  
  
</div>